.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  max-width: 100%;
  font-size: 1em;
  align-items: center;
  margin: auto;
  margin-left: 20px;
  &__link:hover {
    cursor: pointer;
  }
}

.nav__restart:hover {
  cursor: pointer;
}
.fire-image {
  display: flex;
  justify-content: center;
  height: 15vh;
}
img {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
