.game-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__quote {
    font-family: $quoteFont, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5em;
  }
  &__input {
    resize: none;
    min-width: 60%;
    margin: auto;
    min-height: 30vh;
  }
}
