@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap");

$quoteFont: "Montserrat";
$inputFont: "Open Sans";

$backgroundColor: #084887;
$textBackground: #f1802d;
$inputBorderColor: #549aab;
